@import url('https://fonts.googleapis.com/css2?family=Gochi+Hand&family=Indie+Flower&family=Oregano&family=Patrick+Hand+SC&family=Rock+Salt&display=swap');

/* MAP */
html, body, #map {
    height: 86vh;
    width: 100%;
    position: relative;
    padding: 0px;
    margin: 0px;
}
#header {
    background: linear-gradient(to bottom, rgba(66, 66, 66, 0.5), rgba(214, 210, 205, 0.7), rgba(247, 245, 245, 0.7), rgba(54, 54, 54, 0.5));
}
#footer {
    height: 7vh;
    background: linear-gradient(to bottom, rgba(66, 66, 66, 0.5), rgba(214, 210, 205, 0.7), rgba(247, 245, 245, 0.7), rgba(54, 54, 54, 0.5));
    align-items: center;
    display: flex;
    padding-left: 10px;
    padding-right: 10px;      
}

/* FONT & LINK STYLES */

h1,h2 {
    font-family: 'Gochi Hand';
    text-transform: uppercase;
}
h3, h4, h6 {
    font-family: 'Lato';
    font-weight: bold;
}
h5 {
    font-family: 'Lato';
    font-weight: bold;
    text-transform: uppercase;
    color: rgba(112, 76, 35, 0.8);
}
p {
    font-family: 'Lato';
}

a {
    color: rgba(71, 70, 69, 0.8);
}
a:link,
.leaflet-control-attribution a {
    color: rgba(199, 113, 28, 0.8) !important;
}

/* HEADER  */

.nav-container {
    cursor: pointer;
    justify-content: space-between;
    display: flex;
    align-items: center;
    border: none;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;      
    background: linear-gradient(to bottom, rgba(94, 77, 69, 0.5), rgba(247, 240, 230, 0.7), rgba(250, 241, 241, 0.7), rgba(94, 89, 86, 0.5));
}
.nav-link,
.headerlinks {
    text-align: center;
    border: none;
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: 1px;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;      
}

/*  Buttons left & right side */

.headerlinks {
    font-family: 'Lato';
    width: 35vw;
    color: rgba(90, 69, 31, 0.8);
    font-size: 12px;
    height: 7vh;
    cursor: pointer;
    padding-left: 15px;
    padding-right: 15px;    
    border: none;
     
    background: linear-gradient(to bottom, rgba(94, 77, 69, 0.5), rgba(247, 240, 230, 0.7), rgba(250, 241, 241, 0.7), rgba(94, 89, 86, 0.5));
}
.headerlinks:hover {
    font-size: 13px;
    font-weight: bold;
    letter-spacing: 2px;
    color: rgba(141, 108, 46, 0.8);
    background: linear-gradient(to bottom, rgba(94, 77, 69, 0.7), rgba(247, 240, 230, 0.5), rgba(250, 241, 241, 0.5), rgba(94, 89, 86, 0.7));

}

/* Link center side */

.nav-link {
    width: 65vw;
    height: 7vh;
    display: flex;
    justify-content: center;
    align-items: center;  
    background: linear-gradient(to bottom, rgba(94, 77, 69, 0.5), rgba(247, 240, 230, 0.7), rgba(250, 241, 241, 0.7), rgba(94, 89, 86, 0.5));
}
.logoname {
    font-family: 'Gochi Hand';
    color: rgba(70, 42, 15, 0.8);
    text-align: center; 
    vertical-align: middle;
    text-decoration: none;
    font-size: 19px;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s; 
}
.logoname:hover {
    color: rgba(173, 105, 50, 0.99);
    font-size: 22px;
}

/* Information & Attribution Buttons */

.btnInfo:after,
.btnAttribute:after {
    content: '';
    z-index: -1;
}

.btnInfo:before,
.btnAttribute:before {
    font-family: 'Lato';
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
}

.btnInfo:hover,
.btnAttribute:hover {
    color: rgba(165, 122, 69, 0.99);
    font-size: 13px;
}

/* Button icons */
/*
.icon-info:before {
    content: "\f05a";
}
.icon-attribute:before {
    content: "\f004";
}
*/

/* HEADER & START MODAL */

.modalInfo,
.attributeModal,
.startModal {   
    display: none;
    position: absolute; 
    z-index: 1100;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 100%; 
    height: 140%;
    overflow: auto;
    transition: 400ms ease-in-out;
    background-color: rgba(0,0,0,0.7); 
    
}
.infoBox,
.attributionBox,
.modal-content {
    background: linear-gradient(to bottom, rgba(214, 210, 210, 0.8), rgba(250, 240, 229, 0.8), rgba(255, 242, 225, 0.8), rgba(179, 177, 177, 0.8));
    margin: 35% auto;
    padding: 18px;
    border: 1px solid #888;
    width: 70%;
    border-radius: 4px;
    background-origin: padding-box;
    box-shadow: 0 1px 20px rgba(0,0,0,0.5);
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;     
}
.closeInfo,
.closeAttribute,
.close {
    color: rgba(114, 113, 113, 0.8);
    font-size: 28px;
    font-weight: bold;
}
.close {
    border: none;
    background-color: rgba(250, 237, 210, 0.1);

}
.close:hover,
.close:focus,
.closeInfo:hover,
.closeInfo:focus,
.closeAttribute:hover,
.closeAttribute:focus {
    color: rgba(0,0,0,0.8);
    text-decoration: none;
    cursor: pointer;
}

/* LEAFLET CONTROLS */

/* Dropdown list */
.list-group-item,
#selectSpot {
    height: 25px;
    background-color: rgba(65, 64, 64, 0.02);
    color: rgba(80, 64, 35, 0.8);
    background: linear-gradient(to bottom, rgba(94, 77, 69, 0.5), rgba(247, 240, 230, 0.7), rgba(250, 241, 241, 0.7), rgba(94, 89, 86, 0.5));
    border-radius: 4px;
    z-index: 900; 
}
.leaflet-control-layers {
    font-family: 'Lato';
    font-size: medium;
    background: linear-gradient(to bottom, rgba(66, 66, 66, 0.5), rgba(214, 210, 205, 0.7), rgba(247, 245, 245, 0.7), rgba(54, 54, 54, 0.5));
    color: rgba(80, 64, 35, 0.8);
    -webkit-transition: all 0.1s;
    -moz-transition: all 0.1s;
    transition: all 0.1s;     
}

/* Zoom Control */
a.leaflet-control-zoom-in,
a.leaflet-control-zoom-out {
    color: rgba(71, 70, 69, 0.8);
}
.leaflet-control-zoom-in {
    background: linear-gradient(to bottom, rgba(94, 77, 69, 0.5), rgba(240, 238, 238, 0.7));
    box-shadow: 0 2px 20px rgba(0,0,0,0.4);
    color: rgba(71, 70, 69, 0.8);
    -webkit-text-stroke: 2px rgba(75, 62, 47, 0.4)
}
.leaflet-control-zoom-out {
    background: linear-gradient(to bottom,  rgba(214, 213, 213, 0.7), rgba(94, 77, 69, 0.5));
    color: rgba(66, 66, 64, 0.8);
    -webkit-text-stroke: 2px rgba(58, 46, 33, 0.6)    

    /*    -webkit-text-stroke: 1px rgba(245, 202, 150, 0.4); */ 
}
.leaflet-control-zoom-in:hover {
    -webkit-text-stroke: 1px rgba(252, 206, 151, 0.4);
}
.leaflet-control-zoom-out:hover {
    -webkit-text-stroke: 1px rgba(247, 166, 67, 0.4);
}


/* Scale Control */
.leaflet-control-scale {
    float: right;
}
.leaflet-control-scale-line {
    color: rgba(88, 71, 38, 0.8);
    font-size: small;
    height: 15px;
    background: linear-gradient(to bottom, rgba(66, 66, 66, 0.5), rgba(214, 210, 205, 0.7), rgba(247, 245, 245, 0.7), rgba(54, 54, 54, 0.5));
    height: 20px;
    padding-left: 10px;
    padding-right: 10px;

}


/* CLUSTER */
.marker-cluster {
    background-color: rgba(255, 154, 191, 0.9);
    fill: rgba(248, 230, 237, 0.9);
    font-family: Arial, Helvetica, sans-serif;
    font-size: medium;
}

/* FOOTER */

/* Button links */
.kiteswed-button {
    font-family: 'Lato';
    width: 100vw;
    height: 7vh;
    cursor: pointer;
    border: none;
    display: inline-block;
    margin: 15px 0px;
    outline: none;
    position: relative;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;     
    background: linear-gradient(to bottom, rgba(94, 77, 69, 0.5), rgba(247, 240, 230, 0.7), rgba(250, 241, 241, 0.7), rgba(94, 89, 86, 0.5));
}
.btn-footer:hover {
    background: linear-gradient(to bottom, rgba(70, 62, 62, 0.5), rgba(212, 208, 203, 0.7), rgba(219, 219, 219, 0.7), rgba(41, 38, 38, 0.5));  
}
.btn-footer:active {
  top: 2px;
}
.btn-footer:before {
    font-family: 'FontAwesome';
    font-size: 140%;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 3;
    position: relative;
    -webkit-font-smoothing: antialiased;
}

/* Logos */
img{
    width: 70px;
    height: 40px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    
}
img:hover {
    height: 44px;
    width: 78px;

}
