/* Map */
  
html, body, #map {
    height: 100vh;
    width: 100%;
    position: relative;
    padding: 0px;
    margin: 0px;
}

/* MARKER & CLUSTER STYLE */

leaflet-markers {
    color: green;
}
clusterGroup {
    color: rgba(rgb(205, 66, 218), 0.7)
} 


/* CONTROL STYLE */
   
.leaflet-bar, .leaflet-control{
    box-shadow: 0 1px 20px rgba(0,0,0,0.8);
    border-radius: 4px;
    margin-top: 10px;
}
div.leaflet-control-zoom.leaflet-bar.leaflet-control{
    box-shadow: 0 1px 20px rgba(0,0,0,0.8);
    border-radius: 4px;
    margin-top: 10px;
}

.leaflet-control-zoom-in, .leaflet-control-zoom-out {
    display: transparent;
}
div.list-group-item.leaflet-control {
    box-shadow: 0 1px 20px rgba(0,0,0,0.8);
    border-radius: 4px;
    margin-top: 10px;
}
.select#selectSpot {
    box-shadow: 0 1px 20px rgba(0,0,0,0.8);
    border-radius: 4px;
    margin-top: 10px;
}

.leaflet-control-layers-toggle {
    border-radius: 5px;
    background-origin: padding-box;
    box-shadow: 0 1px 20px rgba(0,0,0,0.8);
}
.leaflet-control-layers-separator {
    color: grey;
    size: 3px;
}

div.leaflet-control-scale.leaflet-control  {
    box-shadow: 0 3px 14px rgba(0,0,0,0.8);
    border-radius: 4px; 
}

div.leaflet-bottom.leaflet-left {
    background-origin: padding-box;
}

div.leaflet-bottom.leaflet-right {
    background-origin: padding-box;
    box-shadow: 0 3px 14px rgba(0,0,0,0.8);
    border-radius: 4px; 
}

