/* Map */
  
html, body, #map {
    height: 100vh;
    width: 100%;
    position: relative;
    padding: 0px;
    margin: 0px;
}



            /* ZOOM */
.leaflet-control-zoom.leaflet-bar.leaflet-control{
    box-shadow: 0 1px 20px rgba(0,0,0,0.8);
    border-radius: 4px;
    margin-top: 10px;
}


.list-group-item.leaflet-control {
    box-shadow: 0 1px 20px rgba(0,0,0,0.8);
    border-radius: 4px;
    margin-top: 10px;
}
.select#selectSpot {
    background-color: rgba(138, 56, 87, 0.9);
    border-radius: 4px;
    margin-top: 10px;
}

.leaflet-control-layers-toggle {
    border-radius: 5px;
    background-origin: padding-box;
    box-shadow: 0 1px 20px rgba(0,0,0,0.8);
}
.leaflet-control-layers-separator {
    color: rgb(236, 233, 233);
    size: 3px;
}


        /* SCALE */

.leaflet-control-scale.leaflet-control {
    margin-bottom: 20px;
} 

.leaflet-control-scale-line {
    color: rgba(8, 8, 8, 0.9);
    background-color: rgba(255, 253, 253, 0.8);

}